.grid-container {
  display: grid;
  margin: 2em;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 100px);
  box-shadow: 3px 3px 5px 6px #bbb;
}

.studentName {
color: blue;
font-style: italic;
font-size: 20px;
}

a {
  text-decoration: none;
}

.item-a {
  background: blueviolet;
  grid-column: 1/6;
  border: 2px black;
  border-style: ridge;
}

.item-b {
  background: yellow;
  grid-column: 1/2;
  grid-row: 2/5;
  border: 2px dotted black;
  border-radius: 10px;
}

.item-c {
  background: red;
  grid-column: 2/6;
  grid-row: 2/5;
  border: 2px double green;
}

.item-d {
  background: royalblue;
  grid-column: 1/6;
  grid-row: 5/6;
  border: 2px dotted black;
}

button {
  background-color: blue;
  box-shadow: 3px 3px #ccc;
}

.flex-box {
  display: flex;
  width: 500px;
  height: 500px;
  border: 2px solid;
}

.pic1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.pic2 {
  align-items: flex-start;
  justify-content: flex-end;
}
.pic3 {
  align-items: flex-end;
  justify-content: flex-start;
}
.pic4 {
  align-items: flex-end;
  justify-content: flex-end;
}
.pic5 {
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  div {
    width: 300px;
   height: 300;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 500px) {
  div {
    width: 250px;
   height: 250;
  }

  img {
    width: 40px;
    height: 40px;
  }
}